body {
	margin: 0;
	font-size: 18px;
	font-family: 'Roboto';
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

img {
	margin: 0;
	width: 50px;
}

a {
	text-decoration: none;
	color: #fff;
}

/* Header */

header {
	text-align: center;
	padding: 0;
	color: #000;
	background-color: #fff;
}

/* Main Section */

.main {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
	white-space: nowrap;
	text-align: center;
	background-color: #fff;
}

.main:before {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	content: '';
}


.main-block {
    display: inline-block;
    vertical-align: middle;
    size: 100%;
}

.main-title {
	font-size: 54px;
	color: #000;
	margin: 0;
	text-transform: uppercase;
}

.main-buttons {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.main-btn {
	display: inline;
	text-transform: uppercase;
}

.btn-link {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    color: #000;
}

.btn-link:hover {
    background-size: 100% 2px;
}

/* Footer */

footer {
	padding: 0px;
	color: #000;
	background-color: #fff;
}

.footer-button:hover {
	color: #000080;
	background-color: #fff;
}
